/*Font Link*/
@font-face {
    font-family: "pacManFont";
    src: url("../fonts/crackman-front.ttf");
}

/*Font Link*/
@font-face {
    font-family: "arcadeFont";
    src: url("../fonts/neuropol-x-rg.ttf");
}


/*body element selector*/
body {
    background-image: url('../images/Background.jpg'); /*change the background image*/
    background-position: center; /*center the image on the screen*/
    background-attachment: fixed; /*fix the image to the viewport*/
    background-repeat: no-repeat; /*Do not repeat the background image*/
    background-size: cover;  /*scale the background image to cover the whole screen*/
    background-color: black;
    height: 100vh;
    font-family: "arcadeFont";
}

/*Header element selector*/
header {
    font-family: "pacManFont";
    color: yellow
}

/*Set the background color of the game section and end of game results section to semi-transparent white*/
.theGameSection, .endOfGameResultsSection {
    background-color:rgba(255, 255, 255, 0.6);
}

/*Change the text color for the question id*/
#question {
    color: #e65e19;
}

/*Set the width of the pictures shown in the individual question results modal to 100% of it's container*/
.imageCorrect {
    width: 100%;
}

/*Set the individual question results modal background color and text color*/
.triviaModalContent {
    background-color: #6582fa;
    color: white;
}